@import "/styles/variables.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerMenuButtonContainer {
  display: none;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.name {
  flex-shrink: 3;
  width: 100%;
  color: $secondary;
  cursor: pointer;
  &:hover {
    color: $contrast;
  }
}

@media screen and (max-width: $mobile) {
  .navContainer {
    display: none;
  }

  .name {
    display: none;
  }

  .burgerMenuButtonContainer {
    display: block;
  }
}
