@import "/styles/variables.module.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 20rem;
  height: 8rem;
  border: 1px solid $secondary;
  box-shadow: 8px 8px 0px -1px $secondary;
  color: $secondary;
  &:hover {
    transition: ease-in 0.1s;
    box-shadow: 10px 10px 0px -1px $secondary;
  }
}
