// font
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,100&display=swap");
$raleway: "Raleway", sans-serif;

// color scheme

$primary: #264653;
$secondary: #2a9d8f;
$highlight: #e9c46a;
$complementary: #f4a261;
$contrast: #e76f51;
