@import "/styles/variables.module.scss";

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: $secondary;
  &:hover {
    fill: $contrast;
  }
}

.iconMedium {
  @extend .icon;
  width: 3rem;
  height: 3rem;
}
