@import "/styles/variables.module.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.infosContainer {
  display: flex;
}

.icon {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: $mobile) {
  .infosContainer {
    padding-top: 1rem;
    flex-direction: column;
  }
}
