@import "../styles/variables.module.scss";

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: $primaryFont;
  background-color: $primary;
}

@media screen and (max-width: $mobile) {
  .main {
    width: 100vw;
  }
}
