// font
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&display=swap");
$raleway: "Raleway", sans-serif;
$bitter: "Bitter", serif;

// color scheme

$primary: #264653;
$secondary: #2a9d8f;
$highlight: #e9c46a;
$complementary: #f4a261;
$contrast: #e76f51;

// media queries

$mobile: "425px";

// class utilities

.sectionTitle {
  color: $contrast;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $bitter;
  font-size: 6rem;
  font-weight: 200;
  text-shadow: $highlight 4px 4px;
}

@media screen and (max-width: $mobile) {
  .sectionTitle {
    position: unset;
    font-size: 3rem;
    white-space: nowrap;
  }
}
