// font

$primaryFont: "Raleway", sans-serif;
$secondaryFont: "Libre Baskerville", serif;

// color scheme

$primary: #333745;
$secondary: #e63462;
$highlight: #fe5f55;
$complementary: #c7efcf;
$contrast: #eef5db;

// media queries

$mobile: "480px";

// class utilities

.sectionTitle {
  color: $contrast;
  font-family: $secondaryFont;
  font-size: 3rem;
  font-weight: 200;
  text-shadow: $highlight 1px 1px;
  white-space: nowrap;
}

.sectionTitleMobile {
  display: none;
}

.header {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $mobile) {
  .sectionTitle {
    display: none;
  }

  .sectionTitleMobile {
    display: flex;
    margin-top: 4rem;
    color: $contrast;
    font-family: $secondaryFont;
    font-size: 3rem;
    font-weight: 200;
    text-shadow: $highlight 1px 1px;
    white-space: nowrap;
  }
}
